
<div class="rounded shadow bg-white p-5">
  <div class="raw">
    <div class="col-12 d-flex">
      <h2 class="font-weight-light">
        <i class="fa fa-home"></i> Biens immobiliers
      </h2>
      <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" data-target="#propertiesFormModal" (click)="resetPropertyForm()">
        <i class="fa fa-plus"></i> Ajouter un bien
      </button>
    </div>
  </div>
  <hr class="mt-1 mb-5 bg-dark">
  <div class="row">
    <div *ngFor="let property of properties; let i = index" class="col-12 shadow-sm p-4 mb-3 bg-light">
      <div class="row">
        <div class="col-md-2">
          <div class="w-100" *ngFor="let photos of property.photos; let first = first">
            <img *ngIf="first" [src]="photos" alt="property photo" style="width: 100px;">
          </div>
          <h4 class="font-weight-light" *ngIf="!property.photos || property.photos.length == 0">
            Pas de photos
          </h4>
        </div>
        <div class="col-md-10">
          <div class="row">
            <h3 class="font-weight-normal pl-3">
                {{ property.title }}
            </h3>
            <div class="ml-auto">
              <button class="btn btn-primary m-1" (click)="onEditProperty(property, i)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger m-1" (click)="onDeleteProperty(property)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <p>
        {{ property.category }} de {{ property.surface }} m², {{ property.rooms }} pièces.
      </p>
    </div>
  </div>
</div>

<div class="modal fade" id="propertiesFormModal"tabindex="-1" role="dialog" aria-labelledby="exempleModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="rounded shadow bg-white p-5">
        <h3 class="font-weight-light">
          Nouveau bien
        </h3>
        <hr class="mt-0 bg-dark">
        <form [formGroup]="propertyForm" class="py-5" (ngSubmit)="onSaveProperty()">
          <input type="text" formControlName="id" hidden>
          <div class="form-group">
            <input type="text" formControlName="title" id="title" placeholder="Titre" class="form-control">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label for="category" class="input-group-text">Catégorie</label>
            </div>
            <select formControlName="category" id="category" class="custom-select">
              <option value="appartement">Appartement</option>
              <option value="maison">Maison</option>
            </select>
          </div>
          <div class="form-group">
            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">
                  Ajouter une image
                </span>
              </div>
              <div class="custom-file">
                <input type="file" id="photo" (change)="detectFile($event)" aria-describedby="inputGroupFileAddon01" accept="image/*" class="custom-file-input">
                <label for="photo" class="custom-file-label">
                    Choisir...
                </label>
              </div>
            </div>
            <small class="text-warning" *ngIf="photoUploading">Chargement...</small>
            <small class="text-success" *ngIf="photoUploaded">Fichier chargé!</small>
          </div>
          <div class="row">
            <div *ngFor="let photo of photosAdded; let i = index" class="col-4 position-relative border border-secondary rounded m-1 p-1 bg-light">
              <span class="text-danger position-absolue deletePhoto mr-1" (click)="onRemoveAddedPhoto(i)">
                <i class="fa fa-times"></i>
              </span>
              <img [src]="photo" alt="Photo" class="w-100">
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                  <input type="text" formControlName="surface" id="surface" placeholder="Surface (m²)" class="form-control">
              </div>
              <div class="col-6">
                  <input type="number" min="0" formControlName="rooms" id="rooms" placeholder="Nombre de pièces" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea formControlName="description" id="description" class="form-control"></textarea>
          </div>
          <button class="btn btn-primary float-right" type="submit" [disabled]="propertyForm.invalid">
            <i class="fa fa-check"></i> Enregistrer
          </button>
        </form>
      </div>
    </div>
  </div>
</div>